img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  justify-content: center;
}

.container {
  margin: 3em;
  margin-top: 2em;
  text-align: center;
}

h1,
p,
input {
  margin-top: 1em;
  text-align: center;
}
