/* div {
  flex-direction: column;
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.information {
  flex-direction: column;
  margin-top: 1em;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10%;
  float: left;
}

img {
  max-width: 100%;
  max-height: 100%;
  float: left;
  padding-left: 20%;
  border-top: 20%;
} */
