/* .itemizedProduct {
  flex-direction: column;
  margin-top: 1em;
  display: flex;
  justify-content: center;
} */

.address-container,
.shopping-address {
  margin-left: 15%;
}

/* h1 {
  text-align: center;
  align-items: center;
} */

.total-container {
  margin-bottom: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
}

.checkout-cart-sidebar {
  position: fixed;
  right: 0;
  margin-right: 15%;
  text-align: center;
}

.order-title {
  text-align: center;
  margin-top: 5rem;
}

.ship-to-title {
  margin-left: 15%;
}
.orders {
  margin-left: 15%;
  /* padding: 20%; */
}

.order-image {
  height: 200x;
  width: 200px;
}

.order-container {
  text-align: center;
  justify-content: center;
  margin-left: 15%;
}
