/* .itemizedProduct {
  flex-direction: column;
  margin-top: 1em;
  display: flex;
  justify-content: center;
} */

.address-container,
.shopping-address p {
  margin-left: 0%;
}

h1 {
  text-align: center;
  align-items: center;
}
