.container {
  margin: 3em;
  margin-top: 3em;
}

.productImage {
  object-fit: cover;
  width: 450px;
  height: 450px;
  justify-content: center;
}

img {
  object-fit: cover;
  width: 400px;
  height: 400px;
  justify-content: center;
  margin: 15px;
}
