.container {
  /* margin: 3em; */
  margin-top: 2em;
}

.productImage {
  object-fit: cover;
  width: 350px;
  height: 350px;
  justify-content: center;
}

img {
  object-fit: cover;
  width: 400px;
  height: 400px;
  justify-content: center;
  margin: 5px;
}
